*{
    margin:0;
    padding:0;
    outline: 0;
}
body{
    font-family: Arial;
    font-size: 14px;
    line-height:18px;
    color:18px;
    margin-top: 10px;
    margin-bottom: 10px;
    background:url(images/bg.jpg) repeat fixed 0 0 #fff;
}
.template{
    width: 960px;
    margin: 0 auto;
}
.clear{  
    overflow: hidden;
}
.headersection{
   
    background-color:#7e0307;
    color:#fff;
}
.logo{
    float: left;
    width: 430px;
}
.logo img{
    width: 70px;
    margin:5px;
    float: left;
    margin: 15px;
    transition: 1s;
    border-radius: 5px;
    background-color:white;
}
.logo img:hover{
    transform: scale(1.1);}
/*.logo img:last-child{
    display: none;
}
.logo a:hover img:first-child{
    display: none;
}
.logo a:hover img:last-child{
    display: block;
}*/
.logo h2{
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 24px;
    color: #fff;
    text-shadow: 2px 2px 0 #c5b30e;
}
.social{
    float: right;
    width: 255px;
    padding-top: 40px;
}
.social a img{
    width: 40px;
    height: 30px;
    margin-right: 8px;
    transition:1s;
    border-radius: 4px;
    color: rgb(255, 241, 241);
    font-size: 20px;
}
.social a img:hover{
    transform:rotate(360deg);
}
.navsection{
    background-color:#e98488;
}
.navsection ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navsection ul li{
    display: inline-block;
    position: relative;
}
.navsection ul li a{
    background-color: #cdcbcc;
    color: #444;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    padding: 5px 30px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid#801519;
    border-radius: 3px;
    transition: 0.6s;
}
.navsection ul li a:hover{
    background-color:#bd3f44;
    color:white;
    transform: scale(1.1);
}
.navsection ul li ul{
     position: absolute;
     left: -987654px;
     z-index: 999;
}
.navsection ul li ul li{
    width: 200px;
}
.navsection ul li:hover ul{
    left: 0px;
}
#active{
    background-color:#bd3f44;
    color:white;
}
.contentsection{
   background-color: rgb(184, 179, 179);
   border: 1px solid #882023;
   padding: 15px;
}
.ridoy{
    width: 931px;
    margin: 0 auto;
}
.maincontent{
    width: 599px;
    float: left;
    margin: 0px 15px 8px 0px;
    padding: 8px 20px;
    background-color: #fee4e5;
    border: 1px solid #b7801c;
}
.samepost h2{
    font-size: 25px;
    padding: 10px;
    border-bottom: 1px solid #a54e51;
    margin-bottom: 10px;
    color: #e98488;
}
.samepost a img{
    width: 270px;
    height: 150px;
    float: left;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #ee696e;
    padding: 5px;
    transition: 1s;
}
.samepost a img:hover{
     transform: scale(1.02);
}
.samepost p{
     font-size: 16px;
     line-height: 22px;
}
.readmore{
    float: right;
}
.readmore a{
    text-decoration: none;
    background-color: #fff;
    padding: 4px 8px;
    display: inline-block;
    font-size: 17px;
    border: 1px solid #9b999a;
    border-radius: 3px;
    color: #333;
    transition: 0.7s;
}
.readmore a:hover{
    color:rgb(223, 35, 35); ;
    transform: scale(1.1);
}
.sidebarcontent{
    width: 243px;
    float: right;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fee4e5;
    border: 1px solid #c98f24;
}
.sidebarcontent  .samesidebar h2{
    background-color: #eb9093;
    border-bottom: 2px solid #a12529;
    color: #fff;
    padding: 10px;
    margin-bottom: 8px;
}
.samesidebar{
    margin-bottom: 10px;
}
.samesidebar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.samesidebar ul li{
    font-size: 16px;
    padding: 5px 8px 5px 0;
    border-bottom: 1px dashed #b18b45;
}
.samesidebar ul li:last-child{
    border-bottom: 0px dashed #b18b45;
}
.samesidebar ul li a{
    text-decoration: none;
    color: #914a4c;
}
.samesidebar ul li a:hover{
    color: #cc383d;
}
.popular h3{
    font-weight: normal;
    font-size: 20px;
    border-bottom: 1px dashed #b61b20;
    margin-bottom: 10px;
    padding-bottom: 5px;
    margin-top: 5px;
}
.popular h3 a{
    text-decoration: none;
    color: #444;
}
.popular img{
    width: 70px;
    height: 55px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    padding: 3px;
    background: #fff;
    border: 1px solid #c73c40;
    border-radius: 20px;
}
.popular p{
    margin-top: 12px;
}
.footersection{
    text-align: center;
    height: 90px;
    background-color: #7e0307;
}
.footermenu{
    margin-top: 30px;
}
.footermenu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.footermenu ul li{
    display: inline-block;
}
.footermenu ul li a{
    color: #ad5b5e;
    font-size: 18px;
    margin-right: 5px;
    text-decoration: none;
}
.fixedicon{
    position: fixed;
    top: 150px;
    left: 0;
    width: 80px;
}
.fixedicon img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
}

                  /*About page*/
.about h2{
    font-size: 25px;
    padding: 10px;
    border-bottom: 1px solid #a54e51;
    margin-bottom: 10px;
    color: #e98488;
}
.about a img{
    width: 100%;
    height: 250px;
    float: left;
    border: 1px solid #7c0e12;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.about p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: justify;
}
.about .relatedpost h2{
    background-color: #e98488;
    color: #d10007;
    border-bottom: 2px solid #553334;
}
.about .relatedpost img{
    width: 197px;
    height: 143px;
    margin-bottom: 10px;
}
.about .relatedpost img:hover{
    opacity: 0.5;
}


                        /* Contact Us */
input[type="text"],input[type="email"]{
    border: 1px solid #963235;
    width: 300px;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
}
textarea{
    width: 300px;
    height: 110px;
    border: 1px solid #963235;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
}
input[type="submit"]{
    font-size: 20px;
    padding: 2px 10px;
    border-radius: 3px;
    background-color: #dddddd;
    color: #444;
    border: 1px solid #471314;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color:#bd3f44;
    color:white;
    transform: scale(1.1);
    transition: 0.6s;
}